# Core requirements
jinja2
markdown
mkdocs
mkdocs-material
mkdocs-material-extensions
pygments
pymdown-extensions

# General dependencies
babel
colorama
paginate
regex>=2022.4
requests

# MkDocs plugins
mkdocs-glightbox
mkdocs-get-deps
mkdocs-minify-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-rss-plugin
mkdocs-macros-plugin

# Optional/experimental plugins (uncomment if used)
# mkdocs-blog-plugin
# mkdocs-optimize-plugin
# mkdocs-typeset-plugin

# Image processing support for social plugin
Pillow
cairosvg
urllib3

# Enable image support in mkdocs-material (via extras syntax)
mkdocs-material[imaging]
