{% if page and page.meta %}
  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:description" content="{{ page.meta.description | default(page.title) | escape }}">
  <meta property="og:url" content="{{ config.site_url }}{{ page.url }}">
  <meta property="og:type" content="article">
  <meta property="og:image" content="{{ config.site_url }}assets/images/privacy-pass/cover.webp">

  <meta name="twitter:title" content="{{ page.title | escape }}">
  <meta name="twitter:description" content="{{ page.meta.description | default(page.title) | escape }}">
  <meta name="twitter:image" content="{{ config.site_url }}assets/images/privacy-pass/cover.webp">
  <meta name="twitter:card" content="summary_large_image">
{% endif %}