{% extends "main.html" %}
{% set homepage = config.extra.privacy_guides.homepage %}
{% block extrahead %}
<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css?v=20240801' | url }}">
{% for feed in homepage.rss %}
<link rel="alternate" type="application/rss+xml" title="{{ feed.title }}" href="{{ feed.link }}">
{% endfor %}
{{ super() }}
{% endblock %}
{% block tabs %}
{{ super() }}
<style>
  .md-content>.md-typeset h1 {
    visibility: hidden;
    font-size: 0;
  }

  .md-button {
    margin-top: .5rem;
  }
</style>
<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <div class="mdx-hero__content">
        <h1>{{ homepage.hero.header }}</h1>
        <p>{{ homepage.hero.subheader }}</p>
        {% for button in homepage.hero.buttons %}
        <a href="{{ button.link }}" title="{{ button.title }}" class="{{ button.class }}">
          {{ button.name }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block content %}
{{ page.content }}
<div class="mdx-cta">
  <hr />
  {% for cta in homepage.cta %}
  <h2>{{ cta.title }}</h2>
  {% for icon in cta.links %}
  <a href="{{ icon.link }}" title="{{ icon.name }}">
    <span class="twemoji">{% include ".icons/" ~ icon.icon ~ ".svg" %}</span>
  </a>
  {% endfor %}
  <p>{{ cta.description }}</p>
  {% endfor %}
</div>
{% endblock %}