{% extends "base.html" %}

{# 
{% block site_meta %}
  {% include "partials/meta.html" %}
{% endblock %}
#}

{% block htmltitle %}
  {% if page.meta and page.meta.meta_title and config.theme.language == "en" %}
    <title>{{ page.meta.meta_title }}</title>
  {% elif page.meta and page.meta.title %}
    <title>{{ page.meta.title }} - {{ config.site_name }}</title>
  {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} - {{ config.site_name }}</title>
  {% else %}
    <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {% if config.extra.privacy_guides.translation_stylesheet %}
    <link rel="stylesheet" href="{{ config.extra.privacy_guides.translation_stylesheet | url }}" />
  {% endif %}

  {% if page and page.meta and page.meta.robots %}
    <meta name="robots" content="{{ page.meta.robots }}">
  {% else %}
    <meta name="robots" content="max-snippet:-1, max-image-preview:large">
  {% endif %}

  {% if config.extra.context == "production" and page.canonical_url %}
    <meta http-equiv="onion-location" content="{{ page.canonical_url | replace("https://www.privacyguides.org", "http://www.xoe4vn5uwdztif6goazfbmogh6wh5jc4up35bqdflu6bkdc5cas5vjqd.onion") }}">
  {% endif %}

  {% if page and page.meta and page.meta.schema %}
    <script type="application/ld+json">
      {{ page.meta.schema | tojson }}
    </script>
  {% endif %}
{% endblock %}
